<html>
<head>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <title>"Hello World!"</title>
</head>
<body>
    <div class='container'>

        <canvas id="myChart" height="500" width="500"></canvas>
    </div>

    <script>
    var ctx = document.getElementById("myChart").getContext('2d');
    var data = {
        labels: "Python, SQL, HTML, JavaScript, CSS, Linux/Shell, Spark, Excel".split(","),
        datasets: [{
            label: "Proficiency",
            backgroundColor: "rgba(255,215,0,0.8)",
            borderColor: "#22264b",
            borderWidth: '3px',
            pointBackgroundColor: "#22264b",
            pointBorderColor: "#fff",
            pointHoverBackgroundColor: "#300032",
            pointHoverBorderColor: "#300032",
            data: [85, 90, 70, 60, 65, 80, 62, 95]
            }]
    };
    var myRadarChart = new Chart(ctx, {
        type: 'radar',
        data: data,
        options: {
            scale: {
                responsive: true,
                ticks: {min: 0, max: 100},
                lineArc: false,
                pointLabels: {fontSize: 14},
            },
            legend: {display: false},
        }
    });
    </script>

</body>

</html>
