<html>
<head>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <title>"Hello World!"</title>
</head>
<body>
    <div class='container'>

        <canvas id="{{ site.data.skills.id }}" height="500" width="500"></canvas>
    </div>

    <script>
    var ctx = document.getElementById("{{ site.data.skills.id }}").getContext('2d');
    var data = {
        labels: "{{ site.data.skills.aspects }}".split(","),
        datasets: [{
            label: "{{ site.data.skills.label }}",
            backgroundColor: "rgba(0,191,255,0.4)",
            borderColor: "#22264b",
            borderCapStyle: "round",
            borderWidth: '3.5',
            pointBackgroundColor: "#22264b",
            pointBorderColor: "#fff",
            pointHoverBackgroundColor: "#e05038",
            pointHoverBorderColor: "#e05038",
            data: [{{ site.data.skills.percentage }}]
            }]
    };
    var myRadarChart = new Chart(ctx, {
        type: 'radar',
        data: data,
        options: {
            scale: {
                responsive: true,
                ticks: {min: 0, max: 100},
                lineArc: false,
                pointLabels: {fontSize: 14},
            },
            legend: {display: false},
            tooltips: {
                callbacks: {
                    label: function(tooltipItem, data) {
                        var label = data.datasets[tooltipItem.datasetIndex].label;
                        return label;
                    }
                }
            }
        }
    });
    </script>

</body>

</html>
